.sr{
    position:absolute;
    left: 32%;
}
#pf{
    color: red;
}
.tb1{
    border-color: green;
    border-style: solid;
    height: 10rem;
    border-top: 0ch;
    border-bottom: 0ch;
    border-right: 20rem;
    border-width: 0.5rem;
}
.tb2{
    border-color: blue;
    border-style: solid;
    height: 10rem;
    border-top: 0ch;
    border-bottom: 0ch;
    border-right: 20rem;
    border-width: 0.5rem;
}
.table-plan{
    margin: 3rem;
}
.r1 {
    color: green;
}
.r2{
    color: blue;
}
.table-bordered{
    border-color: black;
}
.rupee{
    color: blue;
}
.lable-font{
    font:bolder;
    color:red;
}